CompileFlags:
  Add: [-Wall, -Wextra, -Werror, -I]
  Compiler: cc
Diagnostics:
  UnusedIncludes: "Strict"
  ClangTidy:
    Add: "*"
    Remove: [
      llvmlibc-restrict-system-libc-headers,
      "cpp*",
      altera-unroll-loops,
      "*braces-around-statements",
      concurrency-mt-unsafe
    ]