CompileFlags:
  Add: [-Wall, -Wextra, -Werror]
  Compiler: cc
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: "*"
    Remove:
      [
        "cpp*",
        "llvmlibc*",
        altera-id-dependent-backward-branch,
        altera-unroll-loops,
        concurrency-mt-unsafe,
        google-readability-braces-around-statements,
        hicpp-braces-around-statements,
        modernize-macro-to-enum,
        readability-braces-around-statements,
        readability-identifier-length,
        readability-magic-numbers,
      ]
